body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../images/tricolor.jpg);
      background-size: 280%;

}
.first h1{
    text-align: center;
    color: white;
}
.first{
    border-bottom: 20px solid #F79431;
}
.second{
    border-bottom: 20px solid rgb(255, 255, 255);
}
.third{
    border-bottom: 20px solid #118407;
}
header{
    color: white;
}
.main{
    margin: 2%;
    width: 95%;
    height: 100%;
    border: 5px solid red;
    display: flex;
    border-radius: 10px;
    box-shadow: 8px 15px #16e242;
    background-size: 1500px;
}
.left{
    width: 70%;
    height: 100%;
    padding: 2%;
}
.timeline{
    color: white;
}
.tlul{
    color: white;
}
.text1{
    color: white;
}
.para1{
    font-size: 16px;
    color: white;
}
.text1 a{
color: red;
text-decoration: none;
}
.right{
    width: 55%;
    height: 100%;
    padding: 3%;
    margin-top: 4%;
}
.right img{
    outline: 5px solid #F79431;
    outline-offset: 4px;
    outline-style: solid;
    border-radius: 10px;
}
@media screen and (max-width: 1000px){
.main{
    flex-direction: column-reverse;
}
.left{
    width: 95%;
}
.right{
    width: 95%;
}
}